{% extends 'base.html' %}
{% block title_head %}Lista de Estudiantes{% endblock %}
{% block h1_header %}
    Lista de Estudiantes
{% endblock h1_header %}
{% block main %}
<form action="{% url 'lista_estudiantes' %}" method="get">
    {{ formulario.as_p }}
    <input type="submit" value="Buscar">
</form>
{% if estudiantes %}
    <h2>Lista de Estudiantes</h2>
    <ul>
        {% for estudiante in estudiantes %}
        <div class="estudiante">
            {% comment %} <h3>{{ estudiante.nombre }} {{ estudiante.apellido }}</h3> {% endcomment %}
            {% if user.is_superuser %}
                <p><strong>Profesor: {{ estudiante.profesor.username }}</strong></p>
            {% endif %}
            <li>
                {{ estudiante.nombre }} {{ estudiante.apellido }}
                <a href="{% url 'ver_estudiante' estudiante.id %}">Ver</a>
                <a href="{% url 'editar_estudiante' estudiante.id %}">Editar</a>
                <a href="{% url 'eliminar_estudiante' estudiante.id %}">Eliminar</a>
            </li>
        </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay estudiantes registrados.</p>
{% endif %}
{% endblock %}

