{% extends 'base.html' %}
{% load static %}

{% block title_head %}
Detalles del Estudiante
{% endblock %}

{% block h1_header %}
Detalles del Estudiante
{% endblock %}

{% block main %}

    <h2>{{ estudiante.nombre }} {{ estudiante.apellido }}</h2>
    <p>Email: {{ estudiante.email }}</p>
    <p>Fecha de nacimiento: {{ estudiante.fecha_nacimiento }}</p>
    <h3>Materias:</h3>
    <ul>
        {% for materia in estudiante.materias.all %}
            <li>{{ materia.get_nombre_display }}</li>
        {% empty %}
            <li>No está inscrito en ninguna materia.</li>
        {% endfor %}
    </ul>
    <div class="container">
        {% if estudiante.avatar %}
            <img src="{{ estudiante.avatar.url }}" alt="Avatar de {{ estudiante.nombre }}" height='40px'>
        {% else %}
            <img src="{% static 'default-avatar.png' %}" alt="{{estudiante.nombre}}" height='40px'>
        {% endif %}
    </div>
    <a href="{% url 'lista_estudiantes' %}">Volver a la lista</a>
{% endblock %}

