{% extends 'base.html' %}

{% block title_head %}
Sobre Mi
{% endblock %}

{% block h1_header %}
Sobre Mi
{% endblock %}

{% block main %}
<div class="about-me">
    <h2>Un Poco de Mi Historia</h2>
    <p>
        Soy Emilio Dalla Torre, tengo 27 años, vivo en Mendoza, Argentina y me encuentro 
        cursando el 5to año de Ingenieria Industrial en la Universidad Nacional de Cuyo.
    </p>
    <p>
        Siempre tuve ganas de aprender a programar, ya que en la facultad tuvimos un
        pequeño acercamiento cuando nos enseñaron a usar MathLab.
    </p>
    <p>
        Luego en pandemia vi que todos estaban apreniendo a programar y me desmotive un
        poco. Pero hace un tiempo me enteré que se puede hacer analisis de datos a través
        de Python, y decidí empezar a aprender sobre este lenguaje para poder enriquecer
        mis habilidades para mi desempeño profesional.
    </p>
    <p>
        Se que es un camino largo, pero el primer paso ya está dado.
        <br>
    </p>

</div>
{% endblock %}
